.explor-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    background-color: #2C3335;
}

.lef-column {
    flex: 0.7;
    border: 1px splid #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;;
}

.first-row {
    flex: 0.3;
    box-sizing: border-box;
}

.horizontal-line {
    margin: 20px 0px;
    border: 0;
    border-top: 1px solid #ffffff;

}

.second-row {
    flex: 0.7;
    box-sizing: border-box;
}

.right-column {
    flex: 0.3;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-summary-container {
    flex: 0.3;
}

.cart-items-container {
    flex: 0.55;
    border-radius: 8px;
}

